.library-table td {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 14pt;
  color: white;
  font-weight: bold;
}

.library-title {
  color: white;
}

/* Ensure that only the link (title) changes color on hover */
.library-title:hover {
  color: red;
}

/* Force other table cells (for type and author) to remain white on hover */
.library-table td {
  color: white;
}
.library-table td:hover {
  color: white;
}

/* Library Table Styles */
.library-table {
  position: relative; /* create a stacking context */
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  z-index: 2000 !important;
}

.library-table th,
.library-table td {
  border: 0px solid #ccc;
  padding: 8px;
  text-align: left;
}

.library-table th {
  background-color: #000000;
}

/* Library Element: change cursor to pointer on hover */
.library-element {
  cursor: crosshair;
}

/* Library Popup Styles */
.library-popup {
  font-family: 'Neue Haas Grotesk', sans-serif;
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000 !important;
  background: black;  /* No background */
  border: none;      /* No border */
  padding: 0;        /* No padding */
  box-shadow: none;  /* No shadow */
}

.library-popup img {
  max-width: 50vw;  /* Image scales to max 80% of viewport width */
  max-height: 50vh; /* Image scales to max 80% of viewport height */
}

table {
  table-layout: fixed;
  width: 100%;
}
td {
  width: 33.33%;
}
