/* Importing "Neue Haas Grotesk" font */
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk:wght@400;700&display=swap');

::selection {
  background-color: black !important;
  color: white !important;
}

/* Title Style */
.title {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; /* Space after title */
}
.title-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; /* Space after title */
}

/* Subtitle Link Style */
.subtitle {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4pt;
}
.subtitle-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4pt;
}

/* General List Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Vertical List */
ul.elements {
  list-style: none;  /* Removes default list bullet points */
  padding: 0;
  margin: 0;
}

ul.elements li {
  margin-bottom: 15px;  /* Adds space between items vertically */
}

/* Element Style */
.element {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1cm; /* Indentation for the list items */
  cursor: pointer;
  transition: color 0.3s ease;
}

.element a {
  text-decoration: none;
  color: inherit;
}

/* Hover effect for .element */
.element:hover {
  color: #007BFF; /* Blue on hover */
}

/* Link Styles */
a {
  text-decoration: none;  /* Remove underline */
}

a:link    { color: black }    /* unvisited links */
a:visited { color: black }   /* visited links */
a:hover   { color: red }     /* user hovers */
a:active  { color: red }     /* active links */
a:focus   { color: black }   /* when element accepts tab focus */

/* Paragraph Title Style */
.paragraph-title {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  margin-bottom: 3pt; /* Space after paragraph title */
  padding-top: 8pt;
}

/* Normal Paragraph Style */
.paragraph {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  font-weight: normal; /* Regular weight */
}

/* Footer Style */
.footer {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 6pt;
  color: black;
  font-weight: normal;
  width: 100%;
  padding: 1%;
  position: absolute;
  bottom: 0;
}

/* Image display styles */
.image-display {
  display: none; /* Initially hide the image */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#image {
  height: 5cm; /* Image size when hovered */
  object-fit: cover;
  transition: opacity 0.3s ease;
}
