/* Importing "Neue Haas Grotesk" font */
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk:wght@400;700&display=swap');

::selection {
  background-color: black !important;
  color: white !important;
}

.h1 {
  display: block;
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  padding-top: 20pt;
  margin-bottom: 2pt;
  padding-left: 8pt;
}

.p1 {
  display: block;
  width: 33%;
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  margin-bottom: 2pt;
  padding-left: 10pt;
  margin-right: auto;
}

/* Title Style */
.title {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 40pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px; /* Space after title */
}
/* Title Style when active */
.title-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 40pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px; /* Space after title */
}

/* Subtitle Link Style */
.subtitle {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 8pt
}
/* Subtitle Style when active */
.subtitle-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 8pt
}



/* Link Style */
a {
  text-decoration: none; /* Remove underline */
}
a:link    { color: black }    /* unvisited links */
a:visited { color: black }   /* visited links   */
a:hover   { color: red } /* user hovers     */
a:active  { color: red }   /* active links    */
a:active  { color: black }   /* when element accepts tab focus */




/* Unordered List, here specifically for the header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* List style, here specifically for header */
li {
  display: inline-block;
  margin-right: 10px; /* Add spacing between items */
}


.iframe-dims {
  width: 100%;
  height: 85vh;
  padding: 0;
  display: block;
  border: none;
  object-fit: contain; /* Preserves the content's aspect ratio */
}


.image-right {
  float: right;
  width: 30vw;       /* 30% of the viewport width */
  height: auto;      /* Maintain natural aspect ratio */
  margin-top: 33vh;  /* One third of the viewport height */
  margin-left: 33vw; /* One third of the viewport width */
}


/* footer style */
.footer {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 6pt;
  color: black;
  font-weight: normal;
    width:95%;
    height:auto;
    padding:1%;
    position:absolute;
    width:1%;
    bottom:0px;
}

