/* Importing "Neue Haas Grotesk" font */
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk:wght@400;700&display=swap');

::selection {
  background-color: black !important;
  color: white !important;
}
/* Title Style */
.title {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; /* Space after title */
}
.title-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 20pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; /* Space after title */
}

/* Subtitle Link Style */
.subtitle {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4pt
}
.subtitle-active {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  color: red !important;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4pt
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px; /* Add spacing between items */
}


 .iframe_dims  {
   float:left;
   width:88%; max-width:888px; 
   height:200px; 
  margin:0 4.2em; 
  border:solid 1px red; padding:0.42em;
  overflow:auto;
  }

/* Paragraph Title Style */
.paragraph-title {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  margin-bottom: 3pt; /* Space after paragraph title */
  padding-top: 8pt;
}

/* Normal Paragraph Style */
.paragraph {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 8pt;
  color: black;
  font-weight: normal; /* Regular weight */
}

/* Link Style */
a {
  text-decoration: none; /* Remove underline */
}

a:link    { color: black }    /* unvisited links */
a:visited { color: black }   /* visited links   */
a:hover   { color: red } /* user hovers     */
a:active  { color: red }   /* active links    */
a:active  { color: black }   /* when element accepts tab focus */

.footer {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 6pt;
  color: black;
  font-weight: normal;
    width:100%;
    height:auto;
    padding:1%;
    position:absolute;
    width:100%;
    bottom:0px;
}

ul.elements {
  list-style: none;    /* Remove default list bullet points */
  padding: 0;
  margin: 0;
  text-align: left;     /* Align the list to the left */
  padding-left: 20px;   /* Add padding to the left to create space */
}

ul.elements li {
  display: block;      /* Make list items stack vertically */
  margin-bottom: 15px; /* Adds space between items vertically */
}

ul.elements li:first-child {
  padding-top: 20px;    /* Bigger padding above the first element */
}
.container {
  text-align: center;
  width: 80%;
}

.elements {
  list-style: none;
  padding: 0;
}

.element {
  font-family: 'Neue Haas Grotesk', sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: 10px 0;
  padding-left: 1cm; /* Indentation for the list items */
  cursor: pointer;
  transition: color 0.3s ease;
}

.element a {
  text-decoration: none;
  color: inherit;
}

.element:hover {
  color: #007BFF; /* Change text color on hover */
}

/* Image display styles */
.image-display {
  display: none; /* Initially hide the image */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#image {
  height: 5cm; /* Image size when hovered */
  object-fit: cover;
  transition: opacity 0.3s ease;
}
